@using PagedList.Mvc

@model ListBooksViewModel
@if(@Model.SearchBooks.Any()){
    <div id="all">
        <br />
        <div id="books">
            <h4>Result : @Model.SearchBooks.Count</h4>
            <table class="table table-hover">
                <tr>
                    <th>Image</th>
                    <th>Book's Name</th>
                    <th>Genre</th>
                    <th>Page Count</th>
                    <th>Created On</th>
                </tr>
                @Html.DisplayFor(b => b.SearchBooks)
            </table>

        </div>
    </div>
}else {
<h2>Not found any books</h2>

}
