@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Library</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p class="lead">Hello, @User.Identity.Name</p>
    }
    else
    {
        <p class="lead">You must login for books.</p>
        <p>@Html.ActionLink("Go to Login", "Login", "Account", null, new { @class = "btn btn-primary btn-lg" })</p>
    }
    
</div>
