@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Library</h1>
    <p class="lead">You must login for books.</p>
    <p>@Html.ActionLink("Go to Login","Login","Account",null,new {@class= "btn btn-primary btn-lg" })</p>
</div>
